<div ng-controller="TaskController as task">

  <div ng-if="!task.task.$resolved">Loading task…</div>
  <div ng-if="task.task.$resolved">

        <span class="pull-left">
            <span class="label label-warning" ng-if="task.task | isShort">Short</span>
            <span class="label label-danger" ng-if="task.task | isLate">Late</span>
        </span>

    <h1>{{ task.task.title }}

      <a class="btn btn-default" ng-href="#/edit/{{ task.task.id }}">
        <span class="glyphicon glyphicon-edit"></span> Edit
      </a>
    </h1>
    <em ng-class="{'text-muted': !(task.task | isShort), 'text-warning': (task.task | isShort)}">
      Remaining: {{ task.task.duration | remaining }}</span>
    </em>

    <div class="panel panel-default">
      <div class="pull-right" ng-class="{'text-muted': !(task.task | isLate), 'text-danger': (task.task | isLate)}">
        Due for {{ task.task.plannedFor | date: 'fullDate' }}
      </div>
      <!-- TODO faire en sorte que le HTML s'affiche correctement -->
      <div class="panel-body" ng-bind-html="task.task"></div>
    </div>
  </div>
</div>
